<h1 mat-dialog-title>New Client</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Client name" [(ngModel)]="clientName" />
  </mat-form-field>
  <loader *ngIf="loadingData"></loader>
  <div *ngIf="creationError">
    <p>Something wrong happened. Please check your internet connection and try again.</p>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClicked()">Cancel</button>
  <button mat-button (click)="onCreateClicked()">Create</button>
</div>
