<div class="main-column">
  <h2>Welcome!</h2>
  <h4>Here's an overview of the clients and policies</h4>

  <div class="columns-container">
    <div class="column">
      <div class="header-container">
        <h3 class="header-title">Policies</h3>
        <button mat-raised-button class="action-button" *ngIf="policies"
                color="accent" (click)="onCreatePolicyClicked()">
          <mat-icon>add</mat-icon> Create
        </button>
      </div>

      <loader *ngIf="loadingPolicies"></loader>
      <div *ngIf="policiesLoadError">
        <p>Something wrong happened. Please check your internet connection and try again.</p>
        <button mat-button (click)="loadPolicies()">Try again</button>
      </div>

      <div *ngIf="(!loadingPolicies && !policiesLoadError) && (!policies || !policies.length)">
        <p>No policies have been created yet, use the button above to do so.</p>
      </div>

      <mat-card class="policy-container" *ngFor="let policy of policies">
        <div class="policy-header">
          <div class="policy-info">
            <h4 class="policy-title">{{policy.name}}</h4>
            <p class="policy-description">{{policy.description}}</p>
          </div>
          <div class="policy-actions">
            <button class="action-button" mat-raised-button
                    color="primary" (click)="onEditPolicyClicked(policy)">
              <mat-icon>edit</mat-icon> Edit
            </button>
            <button class="action-button" mat-raised-button
                    color="warn" (click)="onDeletePolicyClicked(policy)">
              <mat-icon>delete</mat-icon> Delete
            </button>
          </div>
        </div>
        <p class="mat-subheading-2 data-heading">Details</p>
        <div class="policy-data">
          <div>
            <span class="mat-caption">Premium price</span><br/>
            <span class="mat-body-2">{{policy.premiumPrice}} USD</span>
          </div>
          <div>
            <span class="mat-caption">Coverage start</span><br/>
            <span class="mat-body-2">{{policy.coverageStartDate}}</span>
          </div>
          <div>
            <span class="mat-caption">Coverage length</span><br/>
            <span class="mat-body-2">{{policy.coverageLength}} months</span>
          </div>
          <div>
            <span class="mat-caption">Risk level</span><br/>
            <span class="mat-body-2">{{policy.riskLevel}}</span>
          </div>
        </div>
        <p class="mat-subheading-2 data-heading">Coverages</p>
        <div class="policy-data">
          <div>
            <span class="mat-caption">Earthquake</span><br/>
            <span class="mat-body-2">{{policy.earthquakeCoverage}}%</span>
          </div>
          <div>
            <span class="mat-caption">Fire</span><br/>
            <span class="mat-body-2">{{policy.fireCoverage}}%</span>
          </div>
          <div>
            <span class="mat-caption">Theft</span><br/>
            <span class="mat-body-2">{{policy.theftCoverage}}%</span>
          </div>
          <div>
            <span class="mat-caption">Loss</span><br/>
            <span class="mat-body-2">{{policy.lossCoverage}}%</span>
          </div>
        </div>
        <p class="mat-subheading-2 data-heading">Clients covered ({{policy.coveredClients.length}})</p>
        <div class="horizontal-list">
          <span class="mat-body-2 horizontal-label"
                *ngFor="let client of policy.coveredClients">
            {{client.name}}
          </span>
        </div>
      </mat-card>
    </div>
    <div class="column">
      <div class="header-container header-clients">
        <h3 class="header-title">Clients</h3>
        <button mat-raised-button class="action-button"
                color="accent" (click)="onCreateClientClicked()">
          <mat-icon>add</mat-icon> Create
        </button>
      </div>

      <loader *ngIf="loadingClients"></loader>
      <div *ngIf="clientsLoadError">
        <p>Something wrong happened. Please check your internet connection and try again.</p>
        <button mat-button (click)="loadClients()">Try again</button>
      </div>

      <div *ngIf="(!loadingClients && !clientsLoadError) && (!clients || !clients.length)">
        <p>No clients have been created yet, use the button above to do so.</p>
      </div>

      <mat-card class="policy-container" *ngFor="let client of clients">
        <div class="policy-header">
          <div class="policy-info">
            <h4 class="client-name">{{client.name}}</h4>
          </div>
          <div class="policy-actions">
            <button class="action-button" mat-raised-button
                    color="primary" (click)="onEditClientClicked(client)">
              <mat-icon>edit</mat-icon> Edit
            </button>
            <button class="action-button" mat-raised-button
                    color="warn" (click)="onDeleteClientClicked(client)">
              <mat-icon>delete</mat-icon> Delete
            </button>
          </div>
        </div>
        <p class="mat-subheading-2 data-heading">Policies covering this client ({{client.assignedPolicies.length}})</p>
        <div class="horizontal-list">
          <span class="mat-body-2 horizontal-label" *ngFor="let policy of client.assignedPolicies">{{policy.name}}</span>
        </div>
        <button class="action-button" mat-raised-button
                color="primary" (click)="onModifyPoliciesClicked(client)">
          <mat-icon>edit</mat-icon> Modify policies
        </button>
      </mat-card>
    </div>
  </div>
</div>
